@import '../../../styles/colors';

$field-title: #707070;

.field {
  margin-bottom: 22px;
}

.title-container {
  margin-bottom: 10px;
}
.title {
  color: $field-title;
}
.star {
  height: 12px;
  position: relative;
  left: 11px;
  top: -6px;
}

.error {
  color: $error;
  margin-top: 5px;
}
