@import '../styles/colors';

.line {
  display: block;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddebf3;
  border-radius: 2px;
}

.main {
  margin: 20px;
  border: 1px solid $input-border;
  display: flex;
  min-height: 80vh;
}

.logo {
  height: auto;
  width: 100%;
  max-width: 150px;
  position: relative;
  top: 6px;
}
