.btn {
  background-color: #317ab0;
  padding: 14px 90px;
  color: white;
  border-radius: 100px;
  font-size: 18px;
  cursor: pointer;
  outline: 0;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
