@import '../../../styles/colors';

.input {
  outline: 0;
  border: 2px solid $input-border;
  border-radius: 3px;
  font-size: 22px;
  padding: 16px;
  width: 100%;
}

.error {
  border-color: $error;
}
