@import '../../../styles/colors';
.header {
  padding: 20px 20px 0 20px;
}
.title {
  font-weight: 400;
  font-size: 32px;
  color: $header;
  margin: 0;
}
.line {
  display: block;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddebf3;
  border-radius: 2px;
}
