.form {
}
.personal-info {
  padding: 40px 38px 0 38px;
}

.last-name {
  @media (min-width: 40em) {
    float: right;
  }
}
.quote-info {
  padding: 20px 38px;
  background-color: #fcfafc;
}

.btn {
  padding-bottom: 34px;
  background-color: #fcfafc;
}
