@import '../../../styles/colors';

.select {
  outline: 0;
  border: 2px solid $input-border;
  border-radius: 3px;
  font-size: 22px;
  padding: 16px;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('./arrow.svg') no-repeat white;
  background-size: 30px;
  background-position-x: 95%;
  background-position-y: center;
}
