@import 'styles/basscss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
// placeholder
/*************************************************************/
$place-holder: #e9e9e9;
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $place-holder;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $place-holder;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $place-holder;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $place-holder;
}
